<div id="base-dash">
    <%= image_tag  "dash_bg.png" %>
</div> 

<div class="card dash">
    <ul>
        <li><%= link_to "Items", items_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "How To Play", howto_path %></li>
    </ul>
</div>