
<!-- item ordering -->

<h3>ORDER BY</h3>
    <div class="sub-menu">
        <h4>Name</h4>
        <h4>Price</h4>
        <h4>Inventory</h4>
        <h4>Popularity</h4>
    </div>
<h3>View</h3>
    <div class="sub-menu">
        <h4>Active</h4>
        <h4>Inactive</h4>
    </div>