
<!-- item filter -->

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li data-accordion-item>
        <a href="#" class="accordion-title"><h3>PIECES</h3></a>
        <div class="accordion-content" data-tab-content>
            <a><h4>brown</h4></a>
            <a><h4>green</h4></a>
            <a><h4>black</h4></a>
            <a><h4>white</h4></a>
            <a><h4>red</h4></a>
            <a><h4>wood</h4></a>
        </div>
    </li>
    <li data-accordion-item>
        <a href="#" class="accordion-title"><h3>CLOCKS</h3></a>
        <div class="accordion-content" data-tab-content>
            <a><h4>brown</h4></a>
            <a><h4>green</h4></a>
            <a><h4>black</h4></a>
            <a><h4>white</h4></a>
            <a><h4>red</h4></a>
            <a><h4>wood</h4></a>
        </div>
    </li>
    <li data-accordion-item>
        <a href="#" class="accordion-title"><h3>BOARDS</h3></a>
        <div class="accordion-content" data-tab-content>
            <a><h4>brown</h4></a>
            <a><h4>green</h4></a>
            <a><h4>black</h4></a>
            <a><h4>white</h4></a>
            <a><h4>red</h4></a>
            <a><h4>wood</h4></a>
        </div>
    </li>
    <li data-accordion-item>
        <a href="#" class="accordion-title"><h3>SUPPLIES</h3></a>
        <div class="accordion-content" data-tab-content>
            <a><h4>brown</h4></a>
            <a><h4>green</h4></a>
            <a><h4>black</h4></a>
            <a><h4>white</h4></a>
            <a><h4>red</h4></a>
            <a><h4>wood</h4></a>
        </div>
    </li>
</ul>

<br>

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li data-accordion-item>
        <a href="#" class="accordion-title"><h3>FILTER</h3></a>
        <div class="accordion-content" data-tab-content>
            <h4>PRICE</h4>
                <div class="slider" data-slider data-initial-start="0" data-step="5">
                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                    <span class="slider-fill" data-slider-fill></span>
                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                    <br>
                    <div class="slider-out">
                        <input type="number" id='slider-out' style='margin-right: 5px;'>
                        <input type="number" idV='slider-out'>
                    </div>
                </div>
            <h4 style='padding-top: 3em;'>AVAILABILITY</h4>
                <div class="slider" data-slider data-initial-start="0" data-step="5">
                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                    <span class="slider-fill" data-slider-fill></span>
                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                    <br>
                    <div class="slider-out">
                        <input type="number" id='slider-out' style='margin-right: 5px;'>
                        <input type="number" idV='slider-out'>
                    </div>
                </div>
    </div>