
<!-- item ordering -->

<ul class="accordion" data-accordion data-multi-expand="true">
    <li class="is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h3>ORDER BY</h3></a>
        <div class="accordion-content" data-tab-content>
            <a><h4>Name</h4></a>
            <a><h4>Price</h4></a>
            <a><h4>Inventory</h4></a>
            <a><h4>Popularity</h4></a>
        </div>
    </li>
    <li class="is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h3>View</h3></a>
        <div class="accordion-content" data-tab-content>
            <a><h4>Active</h4></a>
            <a><h4>Inactive</h4></a>
        </div>
    </li>
</ul>