<% @order_items.each do |oi| %>
    <tr class="centered" >
        <td width="75"></td>
        <td width="250"><%= oi.item.name %></td>
        <td width="25"><%= oi.quantity %></td>
        <td width="100">
            <div id='unshipped-label'>unshipped</div>
        </td>
        <td width="200">
            <div id=ship_stat>
                <%= link_to (image_tag "ship_button.png"), ship_path(oi.id), remote: true, method: 'patch' %>
            </div>
        </td>
    </tr>
<% end %>