<div class="row align-center">
    <div class="small-4 column">
        <ul class="stats-list">
            <li>
                <%= number_to_currency(@profits) %> <span class="stats-list-label">Total Profit</span>
            </li>
            <li class="stats-list-positive">
                17,678 <span class="stats-list-label">Additions</span>
            </li>
            <li class="stats-list-negative">
                2,390 <span class="stats-list-label">Deletions</span>
            </li>
        </ul>
    </div>
</div>