<div class="row">
  <% if can? :basic_dash, @user %>
    <%= render :partial => 'base_dash' %>
  <% end %>

  <% if can? :admin_dash, @user %>
    <%= render :partial => 'admin_dash' %>
  <% end %>

  <% if can? :manager_dash, @user %>
    <%= render :partial => 'manager_dash' %>
  <% end %>

  <% if can? :shipper_dash, @user %>
    <%= render :partial => 'shipper_dash' %>
  <% end %>

  <div class="small-7 columns">
  </div>
  <div class="small-5 columns">
  </div>
</div>