<div>
    <% if can? :admin_dash, @user %>
      <%= render :partial => 'admin_dash' %>

    <% elsif can? :manager_dash, @user %>
      <%= render :partial => 'manager_dash' %>

    <% elsif can? :shipper_dash, @user %>
      <%= render :partial => 'shipper_dash' %>

    <% else %>
      <%= render :partial => 'base_dash' %>
    <% end %>
</div>