<div class="off-canvas position-right cart-slide" id="cart" data-off-canvas>
    
    <!-- Close button -->
    <div class="cart-close">
      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Menu -->
    <%= render :partial => "cart/menu_items" %>
</div>
