<ul class="vertical menu c-items" id='cart-menu'>
      <% unless @cart.nil? || @cart.empty? %>
        <% @cart.each do |oi| %>
          <li>
            <br>
            <%= link_to  oi.item.name, item_path(oi.item) %>
            <%= number_to_currency(oi.item.current_price) %>
            <%= oi.quantity %>
            <%= link_to (image_tag "remove-item.svg"), remove_from_cart_path(oi.item.id), remote: true, method: 'patch' %>
          </li>
        <% end %>
      <% end %>
    </ul>