<h1><em>A & M Chess Store</em></h1>

<!--<div> <%= image_tag 'pieces_banner.png' %> </div> <br/>-->
<p style="text-align: justify;">
    Welcome to the A & M Chess Store! Home to the best priced
    and highest quality whole sale chess supplies. This, of course, is a very
    very non-real chess store. You are welcome to pretend it is real, though.
    Who am I to enforce expectations of reality upon you? I am just some text
    on a screen. So believe on, chess enthusiast, believe on!** (And don't forget
    to take advantage of our excellent holiday specials and deals!)
</p>

<table cellpadding="3" style="margin: 0 auto; border: 0px;">
	<tr>
		<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
		<td>Juliann Fields</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>
		<%= mail_to("jbfields@andrew.cmu.edu", "America Chavez*", encode: "javascript") %> 
		</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>877-393-4448</td>
	</tr>
</table>

<p class="note" style="text-align: center;"><br>*Despite a phiscal resemblance, I am not America Chavez. As much as I would like to be, I am not. That is all. 
	<br><em>**We are not responsible for any real money lost in your believing in the non-fakeness of this site.</em></p>
