<!-- link to home -->
<li><%= link_to "Home", home_path %></li>

<!-- options for items -->
<li>
  <%= link_to "Shop", items_path %>
</li>

<!-- options for Contact -->
<li>
  <%= link_to "Contact", contact_path %>
</li>
