<!-- link to dash -->
<li><%= link_to "Dash", dashboard_path %></li>

<!-- options for profile -->
<li>
  <%= link_to "Profile", {open:'profile_modal'} %>
</li>

<!-- options for Contact -->
<li>
  <%= link_to "Contact", contact_path %>
</li>