
<% if @items.nil? || @items.empty? %>
  <h3>There are no items in the system at this time</h3>
<% else %>
  <h3>Available Items</h3>

  <%= render partial: "items/current_items", locals: {items: @items}  %>

<% end %>