<div class="row align-center">
  <div class="small-3 columns">
    <%= render :partial => "photo" %>
  </div>
  
  <div class="small-7 columns">
    <%= render :partial => "basic_info" %>
    <p id='desc'>
      <%= @item.description %>
    </p>
  </div>

  <% if can? :manage, Item, @user %>
    <div class="small-1 columns">
      <%= render :partial => "items/show_buttons" %>
    </div>
  <% end %>
</div>