<form action="<%= add_to_cart_path(@item.id) %>">
    <b id="qty">Qty</b>
    <input type="number" name="quantity" value="1" id="qty_input">
    <input type="submit" class="button success" value=" + Add to Cart">
</form>