<% unless @similar_items.empty? %>
  <!--<div class="panel clearfix">-->

    <% @similar_items.each do |item| %>
      <div class="card sim">
        <%= link_to image_tag("img_not_available.png"), item_path(item), class: 'sim_img' %>
      </div>
    <% end %>

  <!--</div>-->
<% end %>