
<div class="row align-center">
  <div class="small-12 columns">
    <%= render :partial => "item_details" %>
  </div>
</div>

<br><br><br>

<div class="row align-center">
  <div class="small-10 columns">
    <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
      <li class="tabs-title"><a href="#panel1c"><h4>Details</h4></a></li>
      <li class="tabs-title is-active"><a href="#panel2c" aria-selected="true"><h4>Similar Items</h4></a></li>
      <li class="tabs-title"><a href="#panel3c"><h4>Price History</h4></a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="collapsing-tabs">
      <div class="tabs-panel" id="panel1c">
        <%= render :partial => "item_info" %>        
      </div>
      <div class="tabs-panel is-active" id="panel2c">
        <%= render :partial => "similar_items" unless @similar_items.empty?%>
      </div>
      <div class="tabs-panel" id="panel3c">
        <%= render :partial => "price_history" unless @price_history.empty?%>
      </div>
    </div>
  </div>
</div>